html{
  font-size:62.5%;
  height:100%;
}

body{
  height:100%;
}

.container{
  width:980px;
  margin:0 auto;
  min-height: 100%;
  position:relative;
}

.header{
  background-color:#F5B4B3;
  height:50px;
  font-size: 1.5rem;
}

.logo-image{
  width:110px;
  float: left;
  margin:0;
}

.top-menu li{
  float: left;
  width:auto;
}

.header ul{
  float:right;
}

.clearfix:after{
  content:"";
  display:block;
  clear:both;
}

ul {
  /* 余白を削除 */
  margin: 0;
  padding: 0;
}
li {
  /* リスト先頭の黒丸を削除 */
  list-style: none;
}

.top-menu li a{
  color:#fff;
  text-decoration: none;
  display:block;
  padding:15px;
}

.top-menu li a:hover{
  text-decoration:underline;
}

.image-area{
  width:100%;
}

.side-menu li{
  background-color: #F5B4B3;
  height:6rem;
  margin-bottom:10px;
}

.side-menu li:hover{
  opacity:0.6;
}

.side-menu li a{
  color:#fff;
  font-size: 2rem;
  text-decoration:none;
  display: block;
  padding:2rem;
}

.banner img{
  width:100%;
}

.banner{
  margin-top:20px;
}

.banner a:hover{
  opacity:0.6;
}


.side-menu{
  float:left;
  width:300px;
}

.wrapper{
  margin-top:10px;
  padding-bottom: 100px
}

.content{
  width:660px;
  margin-left:20px;
  float:left;
  font-size:1.5rem;
}

.news{
  background-color:#FCE8E7;
  height:200px;
  padding:20px;
  overflow: scroll;
  line-height:2;
}

.footer{
  background-color: #4D4D4D;
  height:100px;
  width:100%;
  position: absolute;
  bottom:0;
  display:table;
}

.footer p{
  font-size:1rem;
  color:#fff;
  text-align: center;
  vertical-align: middle;
  display:table-cell;
}

.banner-content{
  margin-top:10px;
  display: table;
}

.banner-content p{
  display: table-cell;


}

.articleimg{
  width:100%;
}
.side-menu .point{
  background-color: #FCECEC;
}

.side-menu .point a{
  color:#4D4D4D;
}
